{% extends 'base.html.twig' %} {% block title %}Bureau{%
endblock %} {% block body %}
<meta charset="UTF-8" />

<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


 <div class="container" align="center" style="background-color: #F0FFFF">
   <br>
   <h3>Membres du bureau du tennis de table Luçonnais</h3>
   <br>
       <table class="table table-sm table-borderless  mw-100" data-toggle="table" >
        <thead>
          <tr >
          	<th align="center" style="align-content: middle;">Photo</th>
          	<th align="center" style="align-content: middle;">Fonction</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th >téléphone</th>
          </tr>
        </thead>
        <tbody>
        {% if fonctions is defined %}
        {% for fonction in fonctions %}
          <tr>
          	<td >
          	{% if fonction.joueurs.photo is not null and fonction.joueurs.photo is not empty %}
          	<div align="center">
          		<img src="{{ asset('/images/'~fonction.joueurs.photo.nom) }}" alt="" width="50"></td>
            </div>
            {% else %}
            <div align="center">
				<img src="{{ asset('/images/defautP.jpg') }}" alt="" width="50">
			</div>	
            {% endif %}
            <td>{{ fonction.libelle }}</td>
            <td>{{ fonction.joueurs.nom }}</td>
            <td>{{ fonction.joueurs.prenom }}</td>
            <td>{{ fonction.joueurs.telephone }}</td>
          </tr>

        {% endfor %}
		{% endif %}
        </tbody>
      </table>
      <br><br><br>
   </div>


{% endblock %}
