{% extends 'parametrage/base_parametrage.html.twig' %} 
{% block title %}
Hello IndexController!
{% endblock %} 


{% block body %}

<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
 		    <h1>Liste des Joueurs</h1>
 	    </div>	
   	    <div class="col-sm-2">
 		    <br><a href="{{ path('equipes_param_new') }}" class="btn btn-primary mb-2" aria-current="page">Créer une equipe</a>
 	    </div>
    </div>
</div>

      <table class="table table-striped" data-toggle="table" data-pagination="false">
        <thead>
          <tr>
            <th data-sortable="true">Nom</th>
            <th>Division</th>
            <th>Joueurs</th>
            <th>Categorie</th>
            <th>Saison</th>
            <th>Calendrier</th>
            <th>Modif.</th>
            <th>Supp.</th>
          </tr>
        </thead>
        <tbody>
        {% if equipes is defined %}
        {% for equipe in equipes %}
        <tr>
           	<td>{{ equipe.nom }}</td>
           	<td>{{ equipe.division }}</td>
            <td>
            {% for joueurs in equipe.joueur %}
              {{ joueurs.getNom() }}
              {{ joueurs.getPrenom() }}<br>
            {% endfor %}
            </td>
            <td>{{ equipe.libCat }}</td>
           	<td>{{ equipe.saison }}</td>
            <td><a href="{{ path('equipes_param_modif', { 'id': equipe.id})}}" class="btn btn-primary">Consulter</a></td>
            <td><a href="{{ path('equipes_param_modif', { 'id': equipe.id})}}" class="btn btn-primary">Modifier</a></td>
            <td><a href="{{ path('supprime_equipe', { 'id': equipe.id})}}" class="btn btn-primary">Supprimer</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

{% endblock %}
