{% extends 'parametrage/base_parametrage.html.twig' %} 
{% block title %} Hello IndexController! {% endblock %} 
{% form_theme formEquipe 'bootstrap_4_layout.html.twig' %} 
{% block body %}
<meta charset="UTF-8" />


{{ form_start(formEquipe) }}

<div class="container">
	
	<div class="row mt-2" >
		<div class="col-sm-12" align="center">
			<h1>Fiche Equipe</h1>
		</div>
	</div>	
	<div class="row mt-3">
		<div class="col-sm-3" >
			{{ form_row(formEquipe.nom) }}
		</div> 	
		<div class="col-sm-3">
			{{ form_row(formEquipe.division) }}
		</div>
		<div class="col-sm-3">
		    {{ form_row(formEquipe.categories) }}
 		</div>
	</div>
	<div class="row mt-3">
		<div class="col-sm-4">
			{{ form_row(formEquipe.saison) }}
		</div>
		<div class="col-sm-4">
			{{ form_row(formEquipe.capitaine) }}
		</div>
		<div class="col-sm-4">
			{{ form_row(formEquipe.salle) }}
		</div>
	</div>
<br>
	<div class="row"  >
		<div class="col-sm-5">
			<div class="row border border-primary"  >
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-4">
							{{ form_row(formEquipe.nom_photo) }}
						</div>
					</div>
					<br><br><br>
					<div class="row">
						<div class="col-sm-4">
							<a href="{{ path('supprime_equipe_img', { 'id': equipe.id })}}"  class="btn btn-warning" aria-current="page" >Effacer</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="col-sm-4">
						<img src="{{ asset('/equipes/'~nomPhoto) }}" alt="" width="120">
					</div>
				</div>
			</div>
		</div>
	</div>		

	<div class="row mt-3">
		<div class="col-sm-2">
			<div class="row mt-3">	
				<div class="col-sm-12" align="center">
				    	{{ form_label(formEquipe.joueur) }}
		 		</div>
			</div>
			<div class="row mt-3">
				<div class="col-sm-12 overflow-auto" style="height: 20vh">
				    	{{ form_widget(formEquipe.joueur) }}
		 		</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="row mt-5" >
			</div>
			<div class="row mt-5" >
			</div>
			<div class="row mt-5" >
			</div>
			<div class="row mt-5" >
			</div>
			<div class="row mt-5" >
				<div class="col-sm-6">
				    
		 		</div>
				<div class="col-sm-2">
				    <button type="submit" class="btn btn-success">Enregistrer</button>
		 		</div>
		 	    <div class="col-sm-2">
		 		    <a href="{{ path('equipes_param') }}"  class="btn btn-primary" aria-current="page" >Retour</a>
		 	    </div>
 			</div>
		</div>
	</div>


</div>



{{ form_end(formEquipe) }} {% endblock %}