{% extends 'base.html.twig' %}

{% block title %}Tableau des brulages{% endblock %}

{% block body %}
<meta charset="UTF-8" />

<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


<div class="fluide">
   <div class="container" align="center">
   <br>
   <h3>Tableau des Brûlages</h3>

   	{% if tabEquipes is defined and tabEquipes|length > 0 %}
      <table class="table table-striped mt-4" data-toggle="table" data-pagination="false">
        <thead>
          <tr class="d-flex">
          		<th class="col-2">Joueurs</th>
          	{% for equipe in tabEquipes %}
            	<th class="col-2 text-center table-primary">{{ equipe.nom }}</th>
          	{% endfor %}
          </tr>
        </thead>
        
        <tbody>
        	{% if tabBrule is defined %}
        	
        		{% for brule in tabBrule %}{# parcours du tableau sur chaque joueur #}
        		{% set cptBrule = 0 %}
          		<tr >
          			<td>{{ brule.joueur.nom }} {{ brule.joueur.prenom }}</td>
          				{% for equipe in tabEquipes %}{# parcours des equipes #}
          				{% set cptEquipeBrule = 0 %}
          					{% for brl in brule %}
          						{% if brl.equipe is defined %}
           							{% if brl.equipe[cptEquipeBrule].id == equipe.id %}
           								{% if brl.nbMatchs is defined %}
           									{% if cptBrule == 0 %}
						           				<td class="table-success text-center">{{ brl.nbMatchs}}</td>
						           			{% elseif cptBrule == 1 %}
						           				<td  class="table-warning text-center">{{ brl.nbMatchs}}</td>
						           			{% elseif cptBrule > 1  %}
						           				<td  class="table-danger text-center">{{ brl.nbMatchs}}</td>
						           			{% endif %}
						           		{% set cptBrule = cptBrule + brl.nbMatchs %}	
           								{% else %}
						           			{% if cptBrule == 0 %}
						           			<td class="table-success text-center"></td>
						           			{% elseif cptBrule == 1 %}
						           				<td  class="table-warning text-center"></td>
						           			{% elseif cptBrule > 1  %}
						           				<td  class="table-danger text-center"></td>
						           			{% endif %}
           								{% endif %}
          							{% endif %}
           						{% endif %}
           					{% endfor %}
           					{% set cptEquipeBrule = cptEquipeBrule+1 %}
           				{% endfor %}
          			</tr>
        			{% endfor %}
        		{% endif %} 
        	</tbody>
      </table>
      {% endif %}
    </div>
</div>

{% endblock %}
