{% extends 'parametrage/base_parametrage.html.twig' %} 
{% block title %}Hello IndexController!{% endblock %} {% block body %}

<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


<meta charset="UTF-8" />
<div class="container">
    <div class="row">
        <div class="col-sm-4" align="center">
 		      <h1>Saisie des doubles</h1>
 	      </div>
        <div class="col-sm-3">
 		      <br><a href="{{ path('new_match_resultat_param') }}" class="btn btn-primary mb-2" aria-current="page">Ajouter un double</a>
 	      </div>	
    </div>

<table class="table table-striped" data-toggle="table" data-pagination="false">
        <thead>
          <tr>
            <th data-sortable="true">Victoire</th>
            <th>Score</th>
            <th data-sortable="true">Joueurs</th>
            <th>modifier</th>
          </tr>
        </thead>
        <tbody>
        {% if matchs is defined %}
        {% for match in matchs %}
        {% if match.matchDouble == 1 %}
        <tr>
            {% if match.victoire == 1  %}
           		<td>Victoire</td>
            {% else %}
              <td>Défaite</td>
           	{% endif %}
           	<td>{{ match.score }}</td>
            <td>
            {% for joueurs in match.joueur %}
              {{ joueurs.getNom() }}
              {{ joueurs.getPrenom() }}<br>
            {% endfor %}
            </td>
            <td><a href="{{ path('modifier_double_resultat_param', { 'id': match.id}) }}" class="btn btn-primary">Modifier</a></td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
    </tbody>
</table>
</div>
{% endblock %}