{% extends 'parametrage/base_parametrage.html.twig' %} 
{% block title %} Hello IndexController! {% endblock %}
{% form_theme formResultat 'bootstrap_4_layout.html.twig' %} 

{% block body %}
<script type="text/javascript">

</script>

<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet"
	href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script
	src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

<meta charset="UTF-8" />
{{ form_start(formResultat) }}

<div class="container">
	<h1>Fiche Resultat</h1>

	<div class="row">
		<div class="col-sm-4">
			{{ form_row(formResultat.equipeA) }}
		</div>
        <div class="col-sm-4">
			{{ form_row(formResultat.equipeB) }}
		</div>
	</div>
    <div class="row">
		<div class="col-sm-4">
			{{ form_row(formResultat.scoreA) }}
		</div>
        <div class="col-sm-4">
			{{ form_row(formResultat.scoreB) }}
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<a href="{{ path('new_match_resultat_param', { 'id': idRencontre }) }}" class="btn btn-primary">Ajouter un match</a>
		</div>
		<div class="col-sm-4">
			<a href="{{ path('new_match_resultat_param', { 'id': idRencontre }) }}" class="btn btn-primary">Ajouter un double</a>
		</div>
		<div class="col-sm-4">
			<a href="{{ path('auto_resultat_param') }}" class="btn btn-primary">Maj auto</a>
		</div>
	</div>
	
	<br>
	<table class="table table-striped" data-toggle="table" data-pagination="false">
        <thead>
          <tr>
            <th data-sortable="true">Victoire</th>
            <th data-sortable="true">Score</th>
            <th>Joueur</th>
			<th>Modif.</th>
			<th>Suppr.</th>
          </tr>
        </thead>
        <tbody>
		{% if matchs is defined %}
        {% for match in matchs %}
        <tr>
            {% if match.victoire == 1  %}
           		<td>Victoire</td>
            {% else %}
              <td>Défaite</td>
           	{% endif %}
           	<td> {{ match.score }}</td>
            <td>
            {% for joueurs in match.joueur %}
              {{ joueurs.getNom() }}
              {{ joueurs.getPrenom() }}<br>
            {% endfor %}
            </td>
            <td><a href="{{ path('modifier_double_resultat_param', { 'id': match.id}) }}" class="btn btn-primary">Modifier</a></td>
            <td><a href="{{ path('supprime_match', { 'id': match.id}) }}" class="btn btn-primary">Supprimer</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    	</tbody>
	</table>
	<br>
	<div class="row"  >
		<div class="col-sm-12">
			<div class="row border border-primary mt-3"  >
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-4">
							{{ form_row(formResultat.fichier) }}
						</div>
					</div>
					<br><br><br>
					<div class="row">
						<div class="col-sm-4">
							
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="col-sm-8 h-auto">
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-2">
				<button type="submit" class="btn btn-success">Enregistrer</button>
		</div>
		<div class="col-sm-2">
                <a href="{{ path('resultat_param') }}"  class="btn btn-primary" aria-current="page" >Retour</a>
            </div>
	</div>
</div>


{{ form_end(formResultat) }} {% endblock %}