{% extends 'parametrage/base_parametrage.html.twig' %}
{% block title %}Partenaires!{% endblock %}
{% block body %}
<meta charset="UTF-8" />

<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet"
	href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script
	src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"
	type="text/javascript"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
	type="text/javascript"></script>
<link
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
	rel="Stylesheet" type="text/css" />
<link href="{{ asset('css/bootstrap.css') }}">


   <div class="container">

{{ form_start(formPartenaires) }}

   <div class="container">
      <h1>Liste des partenaires</h1>
    <div class="col-sm-2">
 		<a href="{{ path('partenaire_param_nouveau') }}" class="btn btn-primary mb-2" aria-current="page">Créer un Partenaire</a>
 	</div>
      <table class="table table-striped" data-toggle="table" data-pagination="false">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Actif</th>
             </tr>
        </thead>
        <tbody>
        {% if partenaires is defined %}
        {% for partenaire in partenaires %}
          <tr>
           	<td>{{ partenaire.nom }}</td>
            {% if partenaire.actif == 1  %}
           		<td>oui</td>
           	{% else %}
           		<td>non</td>
           	{% endif %}           
             <td><a href="{{ path('partenaire_param_modif', {'id': partenaire.id})}}" class="btn btn-primary">Modifier</a></td>
     		<td><a href="{{ path('supprime_partenaire', {'id': partenaire.id})}}" class="btn btn-primary">Supprimer</a></td>
     
          </tr>
        {% endfor %}
       {% endif %} 
        </tbody>
      </table>
    </div>

{{ form_end(formPartenaires) }}

</div>
{% endblock %}