{% extends 'base.html.twig' %} {% block title %}TT Luçonnais{%
endblock %} {% block body %}
<meta charset="UTF-8" />
<style>

</style>
	
<div class="container">

<div class="row">

			<div class="col-sm-12" align="center">
				<br>
				<h1> Partie réservée pour une bannière ?</h1>
				<br><br>
			</div>

</div>

<div class="row">
	<!-- Colonne 1 --> 
	<div class="col-sm-2">
		<div class="row">
			<div class="col-sm-12">
				<img alt="" src="{{ asset('images/logo2.gif') }}" class="img-thumbnail" alt="Responsive image" align="top">
			</div>
		</div>
					<br>
				--------------------------
		<div class="row" align="center">
			<div class="col-sm-12">
				<h4 >Espace partenaires<h4 >
				<br>
				--------------------------
			</div>
		</div>
		<div class="row" align="center">
			<div class="col-sm-12">
				<h4> icone excel vers calendrier<h4 >
								<br>
				--------------------------
			</div>
		</div>
		<div class="row" align="center">
			<div class="col-sm-12">
				<h4 >Divers<h4 >
				<br>
				--------------------------
			</div>
		</div>
	</div>
	<!-- Colonne 2 -->
	<div class="col-sm-8">
		<div class="row" align="center">
			<div class="col-sm-12">
				<h1> Partie centrale pour les articles</h1>
			</div>
		</div>
		<div class="row" align="center">
			<div class="col-sm-12">
				<img alt="" src="{{ asset('images/circulaire_2020_21.jpg') }}" class="img-thumbnail" alt="Responsive image" align="top">
			</div>
		</div>
	</div>
	<!-- Colonne 3 -->
	<div class="col-sm-2" align="left">
		<div class="row">
			<div class="col-sm-12">
				<img alt="" src="{{ asset('images/logo2.gif') }}" class="img-thumbnail" alt="Responsive image" align="top">
			</div>
		</div>
		<br>
		<div class="row" align="center">
			<div class="col-sm-12">
				<h4>Actualités FFTT</h4>
			</div>
		</div>
		{% for actu in actus_club %}
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12" align="center">
						{{ actu.titre }}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12" align="center">
						<a
						href="{{ actu.url }}" target="_blank"> <img
						src="{{ actu.photo }}" class="img-thumbnail" alt="Responsive image"
						width="50%" height="50%">
						</a>
					</div>	
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>


	

{% endblock %}
