{% extends 'base.html.twig' %} 
{% block body %}

<meta charset="UTF-8" />

<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


<div class="fluide" >
   <div class="container" align="center">
        {% if categorie == 'tous'  %}
        	<h4 style="color: white">Liste des licenciés Luçonnais</h4>
		{% elseif categorie == 'Adulte'  %}
		    <h4 style="color: white">Liste des Joueurs Adultes</h4>
		{% elseif categorie == 'Jeune'  %}
			<h4 style="color: white">Liste des Joueurs en catégorie jeunes</h4>
		{% elseif categorie == 'Adapte'  %}
		    <h4 style="color: white">Liste des Joueurs en catégorie Adapté</h4>
    	{% else %}
        	<h4 style="color: white">Liste des licenciés Luçonnais</h4>
		{% endif %}
		<br>
        <table class="table table-dark table-sm table-borderless  mw-100" data-toggle="table" >
        <thead>
          <tr >
          	<th  class="text-center">Photo</th>
            <th data-sortable="true">Nom</th>
            <th>Prénom</th>
            <th data-sortable="true">Classement</th>
            {% if categorie == 'tous'  %}
            	<th data-sortable="true">Catégorie</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% if joueurs is defined %}
        {% for joueur in joueurs %}
        {% if categorie == 'tous' %}
          <tr>
          	<td >
          	<div align="center">
          	{% if joueur.nomPhoto is defined  and joueur.nomPhoto is not empty  %}
				<img src="{{ asset('/images/'~joueur.nomPhoto) }}" alt="" width="50">
			{% else %}
				<img src="{{ asset('/images/defautP.jpg') }}" alt="" width="50">
				
           	{% endif %}	
            </div>
            <td>{{ joueur.nom }}</td>
            <td>{{ joueur.prenom }}</td>
            <td>{{ joueur.classement }}</td>
            <td>{{ joueur.libelleCat }}</td>
          </tr>
         {% elseif categorie == joueur.libelleCat %} 
          <tr>
          <td>
          <div align="center">
          {% if joueur.nomPhoto is defined  and joueur.nomPhoto is not empty  %}
				<img src="{{ asset('/images/'~joueur.nomPhoto) }}" alt="" width="50">
			{% else %}
				<img src="{{ asset('/images/defautP.jpg') }}" alt="" width="50">
				
           	{% endif %}	
          	</div>
            <td>{{ joueur.nom }}</td>
            <td>{{ joueur.prenom }}</td>
            <td>{{ joueur.classement }}</td>
          </tr>
        {% endif %}
        {% endfor %}
		{% endif %}
        </tbody>
      </table>
      <br><br><br>
    </div>
</div>
{% endblock %}