{% extends 'base.html.twig' %}
{% block title %}Stast Doubles{% endblock %}

{% block body %}
<meta charset="UTF-8" />


<div class="row" align="center"><div class="col-sm-7 align-items-center" align="center">
<div class="container" style="background-color: #BABABA">
			<div class="row" align="center">
				<div class="col-sm-12">
					<h2>Doubles {{categorie}} </h2>
				</div>
			</div>
			
			{% if tabDoubleStats is defined %} {% if tabDoubleStats is not empty%}
			 {% set place = 1 %}
			 {% for joueur in tabDoubleStats %}
		<div class="container border">
			<div class="row mt-3 align-items-center" align="center">
				<div class="row" align="center">
					<div class="col-sm-1  align-self-center" style="background-color: #CC5500" align="center">
						<h4>N° {{ joueur.position }}</h4>
					</div>
					<div class="col-sm-1">
						
					</div>
					{% if joueur.joueur1.photo is defined  and joueur.joueur1.photo is not null  %}
					<div class="col-sm-1 align-self-center" style="background-color: #F5F5DC" >
						<img src="{{ asset('/images/'~joueur.joueur1.photo.nom) }}" alt="" width="50">
					</div>
					{% else %}
					<div class="col-sm-1 align-self-center" style="background-color: #F5F5DC" >
						<img src="{{ asset('/images/defautP.jpg') }}" alt="" width="50">
					</div>
					{% endif %}
					<div class="col-sm-3 align-self-center" align="left">
						<h4>{{ joueur.joueur1.prenom }} {{ joueur.joueur1.nom }}</h4>
					</div>
					{% if joueur.joueur2.photo is defined  and joueur.joueur2.photo is not null  %}
					<div class="col-sm-1 align-self-center" style="background-color: #F5F5DC" >
						<img src="{{ asset('/images/'~joueur.joueur2.photo.nom) }}" alt="" width="50">
					</div>
					{% else %}
					<div class="col-sm-1" style="background-color: #F5F5DC" >
						<img src="{{ asset('/images/defautP.jpg') }}" alt="" width="50">
					</div>
					{% endif %}
					<div class="col-sm-4 align-self-center" align="left">
						<h4>{{ joueur.joueur2.prenom }} {{ joueur.joueur2.nom }}</h4>
					</div>
				</div>
			</div>
			
			<div class="row mt-4 align-items-center" style="background-color: #FFF0BC">
				<div class="col-sm-12 " align="center">
					<h4>Victoires :&nbsp;&nbsp; {{ joueur.pourcent }} % &nbsp;&nbsp; {{ joueur.victoires }} victoires - {{ joueur.defaites }} défaites  </h4>
				</div>

			</div>
		</div>
		
			<div class="row mt-2" >
				<div class="col">
					<hr color="black">
				</div>
			</div>
			{% set place = place + 1 %}
			{% endfor %} {% endif %} {% endif %}

</div></div>
<div class="col-sm-5 align-items-center" align="center">
<div class="container" style="background-color: #EFEFEF">
			<div class="row" align="center">
				<div class="col-sm-12">
					<h2>Doubles {{categorie}} par Joueur </h2>
				</div>
			</div>
			
			{% if tabJoueurDouble is defined %} {% if tabJoueurDouble is not empty%}
			 {% set place = 1 %}
			 {% for joueur in tabJoueurDouble %}
		<div class="container border">
			<div class="row mt-3 align-items-center" align="center">
				<div class="row align-self-center" align="center">
					<div class="col-sm-2  align-self-center" style="background-color: #CC5500" align="center">
						<h4>N° {{ joueur.position }}</h4>
					</div>
					{% if joueur.joueur.photo is defined  and joueur.joueur.photo is not null  %}
					<div class="col-sm-2 align-self-center" style="background-color: #F5F5DC" >
						<img src="{{ asset('/images/'~joueur.joueur.photo.nom) }}" alt="" width="50">
					</div>
					{% else %}
					<div class="col-sm-2 align-self-center" style="background-color: #F5F5DC" >
						<img src="{{ asset('/images/defautP.jpg') }}" alt="" width="50">
					</div>
					{% endif %}
					<div class="col-sm-4" align="left">
						<h4>{{ joueur.joueur.prenom }} {{ joueur.joueur.nom }}</h4>
					</div>
				</div>	
					<div class="row mt-2" align="center"  style="background-color: #FFF0BC">
						<div class="col-sm-12 align-items-center" align="center">
							<h4>Victoires &nbsp;&nbsp;: {{ joueur.pourcent }} % &nbsp;&nbsp; {{ joueur.victoires }} victoires - {{ joueur.defaites }} défaites </h4>
						</div>
					</div>
			</div>
		</div>
		
			<div class="row mt-2" >
				<div class="col">
					<hr color="black">
				</div>
			</div>
			{% set place = place + 1 %}
			{% endfor %} {% endif %} {% endif %}

</div></div>
</div>
{% endblock %}
