{% extends 'parametrage/base_parametrage.html.twig' %} {% block title %}Entrainements{%
endblock %} {% block body %}
<meta charset="UTF-8" />


<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


   <div class="container">

{{ form_start(formEntrainements) }}

   <div class="container">
      <h1 align="center">Liste des Entrainements</h1>
    <div class="row">
	    <div class="col-sm-2 mt-4">
	 		<a href="{{ path('entrainement_param_nouveau') }}" class="btn btn-primary mb-2" aria-current="page">Créer un entrainement</a>
	 	</div>
	 	    <div class="col-sm-2 mt-4">
	 			<img src="{{ asset('/images/question.png')}}" alt="" onclick="alert('pour gérer les dates d\'arrêt reprise pour les vacances renseigner le champ date_arret_entrainement dans infos club')"  width="50">
	 	</div>
 	</div>
 	<br>
      <table class="table table-striped" data-toggle="table" data-pagination="false">
        <thead>
          <tr>
            <th>Libellé</th>
            <th>Jour</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Catégorie</th>
          </tr>
        </thead>
        <tbody>
        {% if entrainements is defined %}
        {% for entrainement in entrainements %}
          <tr>
           	<td>{{ entrainement.libelle }}</td>
           	<td>{{ entrainement.jour }}</td>
           	<td>{{ entrainement.heureDebut|date('H:i') }}</td>
           	<td>{{ entrainement.heureFin|date('H:i') }}</td>
           	<td>{{ entrainement.categorie.libelle }}</td>
             <td><a href="{{ path('entrainement_param_modif', {'id': entrainement.id})}}" class="btn btn-primary">Modifier</a></td>
     		<td><a href="{{ path('supprime_entrainement', {'id': entrainement.id})}}" class="btn btn-danger" onclick="return confirm('Suppression de {{ entrainement.libelle }} ?');">Supprimer</a></td>
     
          </tr>
        {% endfor %}
       	{% else %}
        		<td>{{ form_row(formEntrainements.libelle) }}</td>
            	<td>{{ form_row(formEntrainements.jour) }}</td>
          		<td>{{ form_row(formEntrainements.heureDebut) }}</td>
          		<td>{{ form_row(formEntrainements.heureFin) }}</td>
          		<td>{{ form_row(formEntrainements.categorie) }}</td>
            	<td><a href="{{ path('entrainement_param_nouveau')}}" class="btn btn-primary">Enregistrer</a></td>
        {% endif %} 
        </tbody>
      </table>
         <div class="row mt-5" align="center">
       		<div class="col-sm-12" >
				{% if dateVacances is defined %}
					<h2 style="color: red">{{ dateVacances|raw }}</h2> 
				{% endif %}
			</div>
		</div> 
    </div>

{{ form_end(formEntrainements) }}

</div>
{% endblock %}
