{% extends 'parametrage/base_parametrage.html.twig' %} 
{% block title %}Entrainement{%endblock %} 
{% block body %}
<meta charset="UTF-8" />

<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


 {{ form_start(formEntrainements) }}
<div class="container">
	<h1>Entrainement</h1>

      <table class="table table-striped" data-toggle="table" data-pagination="false">
        <thead>
          <tr>
            <th>Libellé</th>
            <th>Jour</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Catégorie</th>
          </tr>
        </thead>
        <tbody>
        {% if entrainements is defined %}
        {% for entrainement in entrainements %}
          <tr>
           	<td>{{ entrainement.libelle }}</td>
           	<td>{{ entrainement.jour }}</td>
           	<td>{{ entrainement.heureDebut|date('H:i') }}</td>
           	<td>{{ entrainement.heureFin|date('H:i') }}</td>
           	<td>{{ entrainement.categorie.libelle }}</td>
          </tr>
        {% endfor %}
        {% endif %} 
        </tbody>
      </table>

	<div class="row mt-4">
		<div class="col-sm-9" >
			{{ form_row(formEntrainements.libelle) }}
		</div>
		<div class="col-sm-3">
			{{ form_row(formEntrainements.categorie) }}
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-sm-3" >
			{{ form_row(formEntrainements.jour) }}
		</div>
		<div class="col-sm-3">
			{{ form_row(formEntrainements.heure_debut) }}
		</div>
		<div class="col-sm-3">
			{{ form_row(formEntrainements.heure_fin) }}
		</div>
		<div class="col-sm-3">
			
		</div>
	</div>

	<div class="row mt-4">	
		<div class="col-sm-2">
		<button type="submit" class="btn btn-success">Enregistrer</button>
 		</div>
	 	<div class="col-sm-2">
	 		<a href="{{ path('entrainement_param') }}"  class="btn btn-primary" aria-current="page" >Retour</a>
	 	</div>
 	</div>
 	
</div>
{{ form_end(formEntrainements) }}
{% endblock %}
