{% extends 'base.html.twig' %} {% block title %}Résultats{%
endblock %} {% block body %}
<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


<meta charset="UTF-8" />
<div class="container">

	{% if tabClassement is defined %}
		<div class="row mt-4">
		<div class="col-sm-2 align-self-center">
			Classement : &nbsp;
		</div>
		{% for classement in tabClassement %}
		<div class="col-sm-1 align-self-center">
			<a href="{{ classement['lien'] }}" target="_blank" >{{ classement['equipe'] }}</a> 
		</div>
		{% endfor %}
		</div>
	{% endif %}
		
  <div class="row mt-4">
		<div class="col-sm-6" >
     {% if equipes is defined %}
        {% for equipe in equipes %}
        	{% if categorie is defined and equipe.categories.libelle == categorie %}
          <table class="table table-striped">
            <tr bordercolor="red" bgcolor= '#DAF7A6' >
              <td>{{ equipe.nom }}</td>
              <td>Phase 1</td>
              <td>Capitaine : {{ equipe.capitaine }}</td>
              <td>{{ equipe.division }}</td>
            </tr>
				</table>
			  <table class="table table-striped table-sm" data-toggle="table" data-pagination="false">
			    <thead>
			      <tr class="align-middle">
			        <th>Date</th>
			        <th>Adversaire</th>
			        <th>Victoire</th>
			        <th>Resultat</th>
			      </tr>
			    </thead>
			    <tbody>
			    {% if calendrierPhase1 is defined %}
			    	{% set myVal = 1 %}
			        {% for rencontre in calendrierPhase1 %}
			                {% if rencontre.equipeType.id == equipe.id %}
			                    <tr>
			                        <td>{{ rencontre.dateRencontre|date('d/m/Y') }}</td>
			                        <td>{{ rencontre.equipeA }} / {{ rencontre.equipeB }}</td>
			                        {% if rencontre.victoire == 'true'  %}
                                    <td>Victoire</td>
                                    {% elseif (rencontre.scoreA == null and rencontre.scoreB == null) and (rencontre.equipeA != 'EXEMPT' and rencontre.equipeB != 'EXEMPT')   %}
                                    <td>Match à venir</td>
                                    {% elseif (rencontre.scoreA == null and rencontre.scoreB == null) and (rencontre.equipeA == 'EXEMPT' or rencontre.equipeB == 'EXEMPT')   %}
                                    <td>EXEMPT</td>
                                    {% elseif rencontre.scoreA == rencontre.scoreB %}
                                    <td>Egalité</td>
                                    {% elseif (rencontre.equipeA == 'LUCON '~myVal and rencontre.scoreA > rencontre.scoreB)  %}
                                    <td>Victoire</td>
                                    {% elseif (rencontre.equipeA == 'LUCON '~myVal and rencontre.scoreA < rencontre.scoreB)  %}
                                    <td>Défaite</td>
                                    {% elseif (rencontre.equipeB == 'LUCON '~myVal and rencontre.scoreB > rencontre.scoreA)  %}
                                    <td>Victoire</td>
                                    {% elseif (rencontre.equipeB == 'LUCON '~myVal and rencontre.scoreB < rencontre.scoreA)  %}
                                    <td>Défaite</td>
                                    {% else  %}
                                    <td>Défaite</td>
                                    {% endif %}
                                    {% if rencontre.fichier is defined and rencontre.fichier != null %} 
                                    <td><a href="{{ path('resultat_rencontre', { 'id': rencontre.id}) }}" class="btn btn-primary btn-sm" target="_blank">Consulter</a></td>
                                    {% else %}
                                    <td>indisponible</td>
                                    {% endif %}
					            </tr>
					            {% endif %}
					            {% set myVal = myVal + 1 %}
					    {% endfor %}
				  {% endif %}
				  {% endif %}
				{% endfor %}
			{% endif %}
				</tbody>
			</table>
		</div>
		<div class="col-sm-6" >
		{% if equipes is defined and calendrierPhase2 is defined and calendrierPhase2 is not empty %}
		    {% for equipe in equipes %}
		            <table class="table table-striped">
	
		            <tr bordercolor="red" bgcolor= '#DAF7A6' >
		                <td>{{ equipe.nom }}</td>
		                <td>Phase 2</td>
		                <td>Capitaine : {{ equipe.capitaine }}</td>
		                <td>{{ equipe.division }}</td>
		            </tr>
			</table>
		    <table class="table table-striped table-sm" data-toggle="table" data-pagination="false">
		      <thead>
		        <tr class="align-middle">
		          <th>Date</th>
		          <th>Adversaire</th>
		          <th>Victoire</th>
		          <th>Resultat</th>
		        </tr>
		      </thead>
		      <tbody>
		      {% if calendrierPhase2 is defined %}
		          {% for renc in calendrierPhase2 %}
		                  {% if renc.equipeType.id == equipe.id %}
		                      <tr>
		                            <td>{{ renc.dateRencontre|date('d/m/Y') }}</td>
		                            <td>{{ renc.equipeA }} / {{ renc.equipeB }}</td>
		                            {% if renc.victoire == 1  %}
                                        <td>Victoire</td>
                                    {% elseif renc.scoreA == null and renc.scoreB == null %}
                                        <td>Match à venir</td>
                                    {% elseif renc.scoreA == renc.scoreB %}
                                        <td>Egalité</td>
                                    {% else  %}
                                        <td>Défaite</td>
                                    {% endif %}
                                    {% if renc.fichier is defined and renc.fichier != null %} 
                                        <td><a href="{{ path('resultat_rencontre', { 'id': renc.id}) }}" class="btn btn-primary btn-sm" target="_blank">Consulter</a></td>
                                    {% else %}
                                        <td>indisponible</td>
                                    {% endif %}
		                      </tr>
		                  {% endif %}
		          {% endfor %}
      {% endif %}
		      {% endfor %}
			{% endif %}
		      </tbody>
		    </table>
			</div>
		
		</div>
		
    </div>
{% endblock %}
