{% extends 'base.html.twig' %} {% block title %}Résultats{%
endblock %} {% block body %}
<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


<meta charset="UTF-8" />
<div class="container">
    <div class="row">
        <div class="col-sm-4" align="center">
 		      <h1>Liste des resultats</h1>
 	      </div>	
    </div>
    {% if equipes is defined %}
        {% for equipe in equipes %}
        {% if equipe.categories.libelle == categorie %}
        <div class="container mt-5">
 			<div class="col-sm-12" >
       			<div class="row text-center" style="background-color: #B0F2B6">
   					<div class="col-sm-12 center" >
   						<h2>TT {{ equipe.nom }}</h2>
   					</div>
       			</div>	
     			<div class="row " style="background-color: #B0F2B6">
   					<div class="col-sm-6 text-center" >
   				 		<H4>Division : {{ equipe.division }}</H4>				
   				 	</div>
   				 	<div class="col-sm-6" >
   				 		<H4>Capitaine : {{ equipe.capitaine }}</H4>
   				 	</div>
   				</div>
            </div>
        </div>
        <table class="table table-striped" data-toggle="table" data-pagination="false">
                <thead>
                <tr>
                    <th data-sortable="true" data-field="date_rencontre">Date Rencontre</th>
                    <th>Adversaire</th>
                    <th data-sortable="true">Victoire</th>
                    <th data-sortable="true">Phase</th>
                    <th>Saisie des Résultats</th>
                </tr>
                </thead>
                <tbody>
                {% if resultats is defined %}
                {% for resultat in resultats %}
                {% if resultat.equipeA == equipe.nom or resultat.equipeB == equipe.nom %}
                <tr>
                    <td>{{ resultat.dateRencontre|date('d/m/Y') }}</td>
                    <td>{{ resultat.equipeA }} / {{ resultat.equipeB }}</td>
                    {% if resultat.victoire == 1  %}
                        <td>Victoire</td>
                    {% elseif resultat.victoire == null %}
                    <td>Défaite</td>
                    {% else %}
                    <td>Pas joué</td>
                    {% endif %}
                    <td>{{ resultat.phase }}</td>
                    {% if resultat.fichier is defined and resultat.fichier != null %} 
                    <td><a href="{{ path('resultat_rencontre', { 'id': resultat.id}) }}" class="btn btn-primary" target="_blank">Consulter</a></td>
                    {% else %}
                    <td>indisponible</td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% endif %}
        {% endfor %}
        {% endif %}
</div>
{% endblock %}
