{% extends 'base.html.twig' %} {% block title %}Résultats{%
endblock %} {% block body %}
<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


<meta charset="UTF-8" />
<div class="container">

<ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Resultat</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Classement</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
	{% if tabClassement is defined %}
		<div class="row mt-12">
		
		{% for classement in tabClassement %}
		
		<div class="col-sm-3 align-self-center">
			<div align="center">{{ classement['equipe'] }} </div>
			  <table class="table table-striped table-sm">
			    <thead>
			      <tr class="align-middle">
			        <th></th>
			        <th>Equipe</th>
			        <th>Pts</th>
			        <th>Joué</th>
			        <th>diff.</th>
			      </tr>
			    </thead>
			    <tbody>
			    {% if  classement['classement']  %}
			    {% set myVal = 1 %}
			    	{% for class in classement['classement']  %}
			               <tr>
			                 {% if classement['equipe'] == class.nomEquipe %}
			                 	<td  style="background-color:#73C2FB">{{ myVal }}</td>
			                 {% else %}
			                 	<td>{{ myVal }}</td>
			                 {% endif %}
			                 {% if classement['equipe'] == class.nomEquipe %}
			                 	<td  style="background-color:#73C2FB">{{ class.nomEquipe }} </td>
			                 {% else %}
			                 	<td>{{ class.nomEquipe }} </td>
			                 {% endif %}
			                 {% if classement['equipe'] == class.nomEquipe %}
			                 	<td  style="background-color:#73C2FB">{{ class.points }}</td>
			                 {% else %}
			                 	<td>{{ class.points }}</td>
			                 {% endif %}
			                 {% if classement['equipe'] == class.nomEquipe %}
			                 	<td  style="background-color:#73C2FB">{{ class.matchJouees }}</td>
			                 {% else %}
			                 	<td>{{ class.matchJouees }}</td>
			                 {% endif %}
			                 {% if classement['equipe'] == class.nomEquipe %}
			                 	<td  style="background-color:#73C2FB">{{ class.victoires - class.defaites}} </td>
			                 {% else %}
			                 	<td>{{ class.victoires - class.defaites}} </td>
			                 {% endif %}
			                </tr>
			                {% set myVal = myVal + 1 %}
					    {% endfor %}
				  {% endif %}

				</tbody>
			</table>

 
		</div>
		{% endfor %}
		</div>
	{% endif %}
	</div>
	
	
	

<div class="tab-pane fade show active" id="home"  role="tabpanel" aria-labelledby="home-tab">			
  <div class="row mt-4">
		<div class="col-sm-6" >
     {% if equipes is defined %}
        {% for equipe in equipes %}
        	{% if categorie is defined and equipe.categories.libelle == categorie %}
          <table class="table table-striped">
            <tr bordercolor="red" bgcolor= '#DAF7A6' >
              <td>{{ equipe.nom }}</td>
              <td>Phase 1</td>
              <td>Capitaine : {{ equipe.capitaine }}</td>
              <td>{{ equipe.division }}</td>
            </tr>
				</table>
			  <table class="table table-striped table-sm" data-toggle="table" data-pagination="false">
			    <thead>
			      <tr class="align-middle">
			        <th>Date</th>
			        <th>Adversaire</th>
			        <th>Victoire</th>
			        <th>Resultat</th>
			      </tr>
			    </thead>
			    <tbody>
			    {% if calendrierPhase1 is defined %}
			    	{% set myVal = 1 %}
			        {% for rencontre in calendrierPhase1 %}
			                {% if rencontre.equipeType.id == equipe.id %}
			                    <tr>
			                        <td>{{ rencontre.dateRencontre|date('d/m/Y') }}</td>
			                        <td>{{ rencontre.equipeA }} / {{ rencontre.equipeB }}</td>
			                        {% if rencontre.victoire == 'true'  %}
                                    <td>Victoire</td>
                                    {% elseif (rencontre.scoreA == null and rencontre.scoreB == null) and (rencontre.equipeA != 'EXEMPT' and rencontre.equipeB != 'EXEMPT')   %}
                                    <td>Match à venir</td>
                                    {% elseif (rencontre.scoreA == null and rencontre.scoreB == null) and (rencontre.equipeA == 'EXEMPT' or rencontre.equipeB == 'EXEMPT')   %}
                                    <td>EXEMPT</td>
                                    {% elseif rencontre.scoreA == rencontre.scoreB %}
                                    <td>Egalité</td>
                                    {% elseif (rencontre.equipeA == 'LUCON '~myVal and rencontre.scoreA > rencontre.scoreB)  %}
                                    <td>Victoire</td>
                                    {% elseif (rencontre.equipeA == 'LUCON '~myVal and rencontre.scoreA < rencontre.scoreB)  %}
                                    <td>Défaite</td>
                                    {% elseif (rencontre.equipeB == 'LUCON '~myVal and rencontre.scoreB > rencontre.scoreA)  %}
                                    <td>Victoire</td>
                                    {% elseif (rencontre.equipeB == 'LUCON '~myVal and rencontre.scoreB < rencontre.scoreA)  %}
                                    <td>Défaite</td>
                                    {% else  %}
                                    <td>Défaite</td>
                                    {% endif %}
                                    {% if rencontre.fichier is defined and rencontre.fichier != null %} 
                                    <td><a href="{{ path('resultat_rencontre', { 'id': rencontre.id}) }}" class="btn btn-primary btn-sm" target="_blank">Consulter</a></td>
                                    {% else %}
                                    <td>indisponible</td>
                                    {% endif %}
					            </tr>
					            {% endif %}
					            {% set myVal = myVal + 1 %}
					    {% endfor %}
				  {% endif %}
				  {% endif %}
				{% endfor %}
			{% endif %}
				</tbody>
			</table>
		</div>
		<div class="col-sm-6" >
		{% if equipes is defined and calendrierPhase2 is defined and calendrierPhase2 is not empty %}
		    {% for equipe in equipes %}
		            <table class="table table-striped">
	
		            <tr bordercolor="red" bgcolor= '#DAF7A6' >
		                <td>{{ equipe.nom }}</td>
		                <td>Phase 2</td>
		                <td>Capitaine : {{ equipe.capitaine }}</td>
		                <td>{{ equipe.division }}</td>
		            </tr>
			</table>
		    <table class="table table-striped table-sm" data-toggle="table" data-pagination="false">
		      <thead>
		        <tr class="align-middle">
		          <th>Date</th>
		          <th>Adversaire</th>
		          <th>Victoire</th>
		          <th>Resultat</th>
		        </tr>
		      </thead>
		      <tbody>
		      {% if calendrierPhase2 is defined %}
		          {% for renc in calendrierPhase2 %}
		                  {% if renc.equipeType.id == equipe.id %}
		                      <tr>
		                            <td>{{ renc.dateRencontre|date('d/m/Y') }}</td>
		                            <td>{{ renc.equipeA }} / {{ renc.equipeB }}</td>
		                            {% if renc.victoire == 1  %}
                                        <td>Victoire</td>
                                    {% elseif renc.scoreA == null and renc.scoreB == null %}
                                        <td>Match à venir</td>
                                    {% elseif renc.scoreA == renc.scoreB %}
                                        <td>Egalité</td>
                                    {% else  %}
                                        <td>Défaite</td>
                                    {% endif %}
                                    {% if renc.fichier is defined and renc.fichier != null %} 
                                        <td><a href="{{ path('resultat_rencontre', { 'id': renc.id}) }}" class="btn btn-primary btn-sm" target="_blank">Consulter</a></td>
                                    {% else %}
                                        <td>indisponible</td>
                                    {% endif %}
		                      </tr>
		                  {% endif %}
		          {% endfor %}
      {% endif %}
		      {% endfor %}
			{% endif %}
		      </tbody>
		    </table>
			</div>
		
		</div>
		
    </div>
    
    </div>
    	</div>
    
{% endblock %}
