<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}TT Luçonnais{% endblock %}</title> {# Run `composer
require symfony/webpack-encore-bundle` and uncomment the following
Encore helpers to start using Symfony UX #} {% block stylesheets %} {{
encore_entry_link_tags('app') }} {% endblock %} {% block javascripts %}
{{ encore_entry_script_tags('app') }} {% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
	integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
	integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	crossorigin="anonymous"></script>
</head>
<body>

	<nav class="navbar navbar-expand-sm navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse nav justify-content-center"
			id="navbarSupportedContent">
			<!-- <ul class="navbar-nav mr-auto"> -->
			<ul class="nav justify-content-center">
				<li class="nav-item"><a class="nav-link" href="/index">Accueil</a>
				</li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Le club </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/presentation">Présentation</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/bureau">Bureau</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path ('partenaire') }}">Partenaires</a>
						<div class="dropdown-divider"></div>
						{% set cat = 'tous' %}
						<a class="dropdown-item" href="{{ path ('joueur', {'cat': cat} ) }}">Liste des joueurs</a>
					</div></li>

				<li class="nav-item"><a class="nav-link" href="/entrainement">Entraînements</a>
				</li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Sportif adultes </a>
					{% set cat = 'Adulte' %}
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% set cat = 'Adulte' %}
						<a class="dropdown-item" href="{{ path ('equipe', {'cat': cat} ) }}">Equipes</a>
						{% set cat = 'Adulte' %} 
						<a class="dropdown-item" href="{{ path ('calendrier', {'cat': cat} ) }}">Calendrier</a> 
						<a class="dropdown-item" href="/resultat">Resultats</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path ('brule') }}">Brûlages</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path ('joueur', {'cat': cat} ) }}">Liste des joueurs</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path ('individuel', {'cat': cat} ) }}">Individuel</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path ('statistique', {'cat': cat} ) }}">Statistiques</a>
						<div class="dropdown-divider"></div>
						{% set categ = 'tous' %}
						<a class="dropdown-item" href="{{ path ('statistique', {'cat': categ} ) }}">Stats toutes catégories</a>
					</div></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Sportif jeunes </a>
					{% set cat = 'Jeune' %}
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% set cat = 'Jeune' %}
						<a class="dropdown-item" href="{{ path ('equipe', {'cat': cat} ) }}">Equipes</a>
						{% set cat = 'Jeune' %}
						<a class="dropdown-item" href="{{ path ('calendrier', {'cat': cat} ) }}">Calendrier</a> 
						<a class="dropdown-item" href="/resultat">Resultats</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path ('joueur',{'cat': cat} ) }}">Liste des joueurs</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path ('individuel', {'cat': cat} ) }}">Individuel</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path ('statistique', {'cat': cat} ) }}">Statistiques</a>
					</div></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Sportif adaptés </a>
					{% set cat = 'Adapte' %}
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ path ('individuel', {'cat': cat} ) }}">Resultats</a> <a
							class="dropdown-item" href="/calendrier">Calendrier</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path ('joueur',{'cat': cat} ) }}">Liste des joueurs</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path ('statistique', {'cat': cat} ) }}">Statistiques</a>
					</div></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Liens </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item"
							href="http://www.fftt.com/sportif/sportif.htm" target="_blank">Federation</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item"
							href="http://tennisdetablepaysdelaloire.org/" target="_blank">Ligue</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="http://www.cd85tt.fr/" target="_blank">Comite</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="http://forum.tennis-de-table.com/" target="_blank">Forum</a>
					</div></li>

				<li class="nav-item"><a class="nav-link" href="/nous/contacter">Nous
						contacter</a></li>
			</ul>
		</div>
	</nav>


	{% block body %}{% endblock %}
</body>
</html>
