{% extends 'base.html.twig' %} {% block title %}Entrainements{%
endblock %} {% block body %}
<meta charset="UTF-8" />

<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


<div class="fluide">
   <div class="container" align="center">
   <br>
   <h3>Tableau des entrainement du tennis de table Luçonnais</h3>
   	    <div class="row mt-5" align="center">
       		<div class="col-sm-12">
				{% if entraineurs is defined %}
					<h4>Entraineurs : {{ entraineurs }}</h4> 
				{% endif %}
			</div>
		</div> 
   
   <br>
      <table class="table table-striped" data-toggle="table" data-pagination="false">
        <thead>
          <tr>
            <th>Libellé</th>
            <th>Jour</th>
            <th>Début</th>
            <th>Fin</th>
            <th data-sortable="true">Catégorie</th>
          </tr>
        </thead>
        <tbody>
        {% if entrainements is defined %}
        {% for entrainement in entrainements %}
          <tr>
           	<td>{{ entrainement.libelle }}</td>
           	<td>{{ entrainement.jour }}</td>
           	<td>{{ entrainement.heureDebut|date('H:i') }}</td>
           	<td>{{ entrainement.heureFin|date('H:i') }}</td>
           	<td>{{ entrainement.categorie.libelle }}</td>
          </tr>
        {% endfor %}
        {% endif %} 
        </tbody>
      </table>
   	    <div class="row mt-5" align="center">
       		<div class="col-sm-12" >
				{% if dateVacances is defined %}
					<h2 style="color: red">{{ dateVacances }}</h2> 
				{% endif %}
			</div>
		</div> 
      
    </div>
</div>

{% endblock %}

