{% extends 'base.html.twig' %} {% block title %}Hello IndexController!{%
endblock %} {% block body %}
<meta charset="UTF-8" />


<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

   <div class="container">
        {% if categorie == 'Adulte'  %}
        	<h1 style="color: black" align="center">Liste des calendriers des Equipes Adultes</h1>
		{% elseif categorie == 'Jeune'  %}
			<h1 style="color: black" align="center">Liste des calendriers des Equipes jeunes</h1>
		{% endif %}

       <div class="row">
       		<div class="col-sm-6" >
		        {% if equipes is defined %}
		            {% for equipe in equipes %}
		                {% if equipe.categories.libelle == categorie %}
		                    <table class="table table-striped">
		
		                    <tr bordercolor="red" bgcolor= '#DAF7A6' >
		                        <td>{{ equipe.nom }}</td>
		                        <td>Phase 1</td>
		                        <td>Capitaine : {{ equipe.capitaine }}</td>
		                        <td>{{ equipe.division }}</td>
		                    </tr>
							</table>
					      <table class="table table-striped" data-toggle="table" data-pagination="false">
					        <thead>
					          <tr class="align-middle">
					            <th>Date</th>
					            <th>Adversaire</th>
					            <th>Domicile</th>
					            <th>Phase</th>
					          </tr>
					        </thead>
					        <tbody>
					        {% if calendrierPhase1 is defined %}
					            {% for rencontre in calendrierPhase1 %}
					                {% if rencontre.equipeType.categories.libelle == categorie %}
					                    {% if rencontre.equipeType.id == equipe.id %}
					                        <tr>
					                            <td>{{ rencontre.dateRencontre|date('d/m/Y') }}</td>
					                            <td>{{ rencontre.equipeA }} / {{ rencontre.equipeB }}</td>
					                            {% if rencontre.domicile == 1  %}
					                                <td>Domicile</td>
					                            {% else %}
					                                    <td>Exterieur</td>
					                            {% endif %}
					                            <td>{{ rencontre.phase }}</td>
					                        </tr>
					                    {% endif %}
					                {% endif %}
					            {% endfor %}
							{% endif %}
					        {% endif %} 
					        {% endfor %}
							{% endif %}
					        </tbody>
					      </table>
			      	</div>
			      <div class="col-sm-6" >
		        {% if equipes is defined and calendrierPhase2 is defined and calendrierPhase2 is not empty %}
		            {% for equipe in equipes %}
		                {% if equipe.categories.libelle == categorie %}
		                    <table class="table table-striped">
		
		                    <tr bordercolor="red" bgcolor= '#DAF7A6' >
		                        <td>{{ equipe.nom }}</td>
		                        <td>Phase 2</td>
		                        <td>Capitaine : {{ equipe.capitaine }}</td>
		                        <td>{{ equipe.division }}</td>
		                    </tr>
							</table>
					      <table class="table table-striped" data-toggle="table" data-pagination="false">
					        <thead>
					          <tr class="align-middle">
					            <th>Date</th>
					            <th>Adversaire</th>
					            <th>Domicile</th>
					            <th>Phase</th>
					          </tr>
					        </thead>
					        <tbody>
					        {% if calendrierPhase2 is defined %}
					            {% for renc in calendrierPhase2 %}
					                {% if renc.equipeType.categories.libelle == categorie %}
					                    {% if renc.equipeType.id == equipe.id %}
					                        <tr>
					                            <td>{{ renc.dateRencontre|date('d/m/Y') }}</td>
					                            <td>{{ renc.equipeA }} / {{ renc.equipeB }}</td>
					                            {% if renc.domicile == 1  %}
					                                <td>Domicile</td>
					                            {% else %}
					                                    <td>Exterieur</td>
					                            {% endif %}
					                            <td>{{ renc.phase }}</td>
					                        </tr>
					                    {% endif %}
					                {% endif %}
					            {% endfor %}
							{% endif %}
					        {% endif %} 
					        {% endfor %}
							{% endif %}
					        </tbody>
					      </table>
			      	</div>
			      
			      </div>
			      
    </div>

{% endblock %}
