{% extends 'parametrage/base_parametrage.html.twig' %} {% block title %}Hello IndexController!{%
endblock %} 
{% form_theme formJoueurs 'bootstrap_4_layout.html.twig' %}
{% block body %}
<meta charset="UTF-8" />

<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


{{ form_start(formJoueurs) }}

   <div class="container">
   	<div align="left">
 		<a href="/joueur/param/nouveau/" class="btn btn-primary mb-2" aria-current="page">Créer un joueur</a>
 	</div>
      <h1>Liste des Joueurs</h1>
      <table class="table table-striped" data-toggle="table" data-pagination="false">
        <thead>
          <tr>
            <th data-sortable="true">Nom</th>
            <th>Prénom</th>
            <th>telephone</th>
            <th>Licence</th>
            <th data-sortable="true">Catégorie</th>
            <th data-sortable="true">Certif</th>
            <th data-sortable="true">Cotis.</th>
            <th>Classement</th>
            <th>Modification</th>
          </tr>
        </thead>
        <tbody>
        {% if joueurs is defined %}
        {% for joueur in joueurs %}
          <tr>
           	<td>{{ joueur.nom }}</td>
           	<td>{{ joueur.prenom }}</td>
           	<td>{{ joueur.telephone }}</td>
           	<td>{{ joueur.numLicence }}</td>
           	<td>{{ joueur.libelleCat }}</td>
           	{% if joueur.certificat == 1  %}
           		<td>oui</td>
           	{% else %}
           			<td>non</td>
           	{% endif %}
           	{% if joueur.cotisation == 1  %}
           		<td>oui</td>
           	{% else %}
           			<td>non</td>
           	{% endif %}
           	<td>{{ joueur.classement }}</td>
             <td><a href="/joueur/param/modifier/{{ joueur.id}}" class="btn btn-primary">Modifier</a></td>
          </tr>
        {% endfor %}
		{% endif %}
		{% if infoclub is defined %}
          <tr>
            <td>{{ form_row(formInfos.libelle,{'attr':{'placeholder': "" }}) }}</td>
            <td>{{ form_row(formInfos.contenu,{'attr':{'placeholder': "" }}) }}</td>
            <td><button type="submit" class="btn-succes">Enregistrer </button></td>
          </tr>
		{% endif %}
        </tbody>
      </table>
    </div>



{{ form_end(formJoueurs) }}
{% endblock %}
